<div class="form-structor">

    <a href="/"><h2 id="signup">Scader</h2></a>
    <form action="/login" method="POST" >
        <div class="signup">
            <div class="center">
                <h2 class="form-title" id="login">Log in</h2>
                {{> messages }}
                <div class="form-holder">
                    <input type="email" class="input" name="email" placeholder="Email" />
                    <input type="password" class="input" name="upass" placeholder="Password" />
                </div>
                <button class="submit-btn">Log in</button>
            
            </div>
        </div>
    
    </form>    
    
</div>

<script src="/javascripts/regis.js" ></script>