*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

nav{
  display: flex;
  max-width: 100%;;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(19, 17, 16);
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: rgb(235, 230, 230);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-transform: lowercase;
  color: rgb(235, 230, 230);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.burger{
  display: none;
}


.burger div{
  width: 45px;
  height: 5px;
  background-color: rgb(235, 230, 230);
  margin: 5px;
  transition-duration: 0.3s;
}

@media only screen and (max-width:720px){
  body{
    overflow: hidden;
  }
  
  .logo{
    font-size: 50px;
  }
  .nav-links a{
    font-size: 50px;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 100%;
    top: 10vh;
    background-color: rgb(19, 17, 16); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    opacity: 0;
    transition-duration: 0.5s;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }

  

}

@media only screen and (orientation: portrait){
  body{
    overflow: hidden;
  }
  
  .logo{
    font-size: 50px;
  }
  .nav-links a{
    font-size: 50px;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 100%;
    top: 10vh;
    background-color: rgb(19, 17, 16); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    opacity: 0;
    transition-duration: 0.5s;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }

}

.nav-active{
  opacity: 1;
  transform: translate(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


